<div>
  <button (click)="car.pushRightPaddle()">Gear Up</button>
  <button (click)="car.pushLeftPaddle()">Gear Down</button>
</div>

<div>
  <button (click)="car.setPositionToDrive()">Drive</button>
  <button (click)="car.setPositionToParking()">Parking</button>
  <button (click)="car.setPositionToNeutral()">Neutral</button>
  <button (click)="car.setPositionToReverse()">Reverse</button>
</div>

<div>
  <button (click)="car.setModeToEco()">Eco</button>
  <button (click)="car.setModeToComfort()">Comfort</button>
  <button (click)="car.setModeToSport()">Sport</button>
</div>

<div>
  <button (click)="car.setAggressionLevelToLow()">Agg 1</button>
  <button (click)="car.setAggressionLevelToMedium()">Agg 2</button>
  <button (click)="car.setAggressionLevelToHigh()">Agg 3</button>
</div>

<div>
  <button>Przyczepka on</button>
  <button>Przyczepka off</button>
</div>

<div>
  <button (click)="car.pushBrakePedal()">Brake start</button>
  <button (click)="car.releasePedals()">Release pedals</button>
  <button (click)="car.pushThrottlePedal()">Throttle start</button>
</div>
